
<div class="navbar mb-2">
  <div class="logo">
    <%= link_to image_tag("logo.png", alt: "Logo"), home_path %>
  </div>
    <%= link_to "Home", home_path%>
  </div>
  <div>
    <p><%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %></p>

  </div>
</div>
<div class="home-div">

  <div class="container">

    <p><div id="reactiv"><strong>REACTIV'</strong></div><br> Est un<strong style=color:rgb(206,8,8);> cabinet de recrutement</strong>, à taille humaine,
      dédié aux métiers de la &nbsp;&nbsp;<strong style=color:rgb(206,8,8);>comptabilité, finance d'entreprise et paies</strong>.<br>
      Notre volonté est d'établir une <strong style=color:rgb(206,8,8);>relation de confiance</strong> avec tous nos &nbsp;&nbsp;partenaires,
      accompagner au mieux les candidats et entreprises,
       et leur &nbsp;&nbsp;apporter des solutions <strong style=color:rgb(206,8,8);>pertinentes et qualitatives</strong>.<br><br>
      Nous intervenons sur les postes <strong style=color:rgb(206,8,8);>cadres et non cadres</strong> et travaillons
      avec &nbsp;&nbsp;tous types de structure : de la PME à la multinationale, sans oublier les &nbsp;&nbsp;cabinets comptables.<br>
      Afin de répondre aux mieux à vos attentes, notre <strong style=color:rgb(206,8,8);>expertise</strong>
       est <strong style=color:rgb(206,8,8);>double</strong> : &nbsp;&nbsp;elle porte sur les métiers comptables et financiers ainsi que sur les &nbsp;&nbsp;méthodes de recrutement.</p>
    <div class="photo-description">

    </div>
  </div>

  <div class="publicite">
    <div class="content"><h2>REACTIV' est convaincue que le développement d'une entreprise
      passe par ses ressources humaines mais également par sa politique de communication.
      Nous avons donc instauré un partenariat avec Wink studio, studio de
      création audiovisuel, afin de vous accompagner sur la communication interne et externe de votre structure.</h2>
    </div>
    <div id="second"></div>
    <div id="third"></div>
    <div id="forth"></div>
  </div>


</div>
