.contact-container {
  background-image: url('https://images.unsplash.com/photo-1483389127117-b6a2102724ae?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  image-resolution: 300dpi;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  align-content: center;
  width: 400px;
  height:500px;
  padding:auto;
  margin: auto;
  align-items: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.form{
  margin-top: 30px;
  display:grid;
  padding-left: 20px;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}
